<%- include("header"); -%>
  <h2>This is about page</h2>
  <p>sdlfjksdrglesurigidudybvggh jmsdkoghilf uhguhu i hdgydf gh fdhefvbf uihuirhv vfd vudhgi ud htlghxi hgicv idhgv cuidxfh yusgf egvcj</p>
<%- include("footer");-%>
