extends layout
block content   
    .login-panel
        img(src="images/login-img.jpg", alt="")
        include includes/login-form
    .register-panel
        img(src="images/register-img.png", alt="")
        include includes/register-form