<%- include("partials/head.ejs"); -%>
<%- include("partials/navbar.ejs"); -%>




<div id="shapely_home_parallax-2" class="widget shapely_home_parallax"> <section class="cover fullscreen image-bg">
    <div class="parallax-window fullscreen" data-parallax="scroll" data-image-src="https://d3sux4fmh2nu8u.cloudfront.net/Pictures/2000x2000fit/7/0/7/1848707_heydaraliyevcentrealamym0kncx_934065.jpg" data-ios-fix="true" data-over-scroll-fix="true" data-android-fix="true" style="background-image: url(&quot;https://d3sux4fmh2nu8u.cloudfront.net/Pictures/2000x2000fit/7/0/7/1848707_heydaraliyevcentrealamym0kncx_934065.jpg&quot;); background-size: cover; background-position: center center;">
    <div class="align-transform">
    <div class="row">
    <div class="top-parallax-section">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
    <h1>Incoprating Motion and Intelligence into Architecture</h1><div class="mb32"><p>Create your blogs and read of other people too</p>
    </div><a class="btn btn-lg btn-filled" href="/blog/signup">SignUp</a><a class="btn btn-lg btn-white" href="/blog/login">Login</a> </div>
    </div>
    
    </div>
    </div>
    </div>
    </section>
    <div class="clearfix"></div>
    </div>





<style>
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        line-height: 24px;
        color: #8c979e;
        overflow-x: hidden;
        font-weight: 400;
    }
    section{
        position: relative;
        overflow: hidden;
    }
    .cover {
        margin: 0;
        padding: 0;
    }
    .fullscreen {
        height: 100vh;
    }
    section, footer {
        position: relative;
        overflow: hidden;
    }
 .clearfix:after, .clearfix:before{
        display: table;
        content: " ";
    }
    .clearfix:after{
        clear: both;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .row:before {
        display: table;
        content: " ";
    }
    .image-bg div[class*='col-'] {
        position: relative;
        z-index: 3;
    }
    @media (min-width: 992px){
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
}
    @media (min-width: 992px){
    .col-md-8 {
        width: 66.66666667%;
    }
}
    @media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
.image-bg h1 {
    color: #000;
}
h1 {
    font-size: 60px;
    line-height: 64px;
}
h1 {
    font-weight: 400;
    color: #0e1015;
}
h1 {
    font-family: inherit;
}
h1 {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}
h1 {
    clear: both;
}
h1 {
    margin: 0.67em 0;
}
.col-md-8, .col-md-9, .col-sm-1, .col-sm-10{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center {
    text-align: center;
}
.mb32 {
    margin-bottom: 32px;
}

.text-center {
    text-align: center;
}
.cover p {
    color: #fff;
}
.image-bg p, .image-bg li {
    color: #000;
}
p, span {
    font-weight: 800;
    font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, table, blockquote, input {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
}

.image-bg .btn.btn-filled {
    background: #b1967b;
    color: #fff;
    border-color: #b1967b;
}
.btn-white, .image-bg .btn, .image-bg .btn:visited {
    color: #fff;
    border-color: #fff;
}
.btn-filled:visited {
    color: #fff;
}
.btn:visited {
    color: #b1967b;
}
.image-bg a {
    color: #b1967b;
}
.image-bg a {
    color: #fff;
}
a, a:visited, a:active, a:hover {
    text-decoration: none;
}

.btn-filled, a .btn-filled, .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background: #b1967b;
    color: #fff;
}
.btn-lg {
    line-height: 24px;
    min-width: 200px;
    padding-bottom: 13px;
    padding-top: 13px;
}
.btn, .button {
    font-family: inherit;
    border: 2px solid #b1967b;
    padding: 0 26px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #b1967b;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
    white-space: normal;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}




</style>








</body>
</html>