<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize-context/cssnormalize-context-min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Cutive+Mono|Encode+Sans+Expanded|Quattrocento+Sans|Red+Hat+Display|Saira|Tenali+Ramakrishna|Varela&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/53b9bdb146.js" crossorigin="anonymous"></script>
    
    
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/catalog.css">
</head>
<style>
  h1,h2,h3{
    text-align: center;
  }
</style>
<body>
    <%- include("partials/navbar.ejs"); -%>
    <section>
      <div class="sub-header sub-header-1 sub-header-our-services fake-position">
        <div class="sub-header-content">
          <h2 class="text-cap white-text" style="margin: 0;">Our Projects and Experiments</h2>
          <ol class="breadcrumb breadcrumb-arc text-cap">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="active" style="background-color:transparent;">Our Services</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="padding padding-bot-30">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
              <div class="block-img-full service-item">
                <a class="img-block" href="#"><img src="images/NotreDame01.jpg" class="img-responsive" alt="Image"></a>
                <div class="text-box">
                  <h4 class="text-cap"><mark>Notre Dame</mark> De Paris</h4>
                  <p>
                    After Fire engulfed the 800 year old historic cathedral of Notre Dame in Paris, the Prime minister of Paris had announced an international competition to redesign the cathedral. The Website of Go Architect....
                  </p>
                  <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                  <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                </div>
                
              </div>
              <div class="modal1 modal_multi">

                <!-- Modal content -->
                <div class="modal-content11 ">
                    <span class="close_multi close">x</span>
                    <h1 style="color: #b1976b;">INTERNATIONAL PROJECTS</h1>
                    <h3 style="color: #000; padding-top:1%">NOTRE DAME CATHEDRAL</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="images/NotreDame01.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">After Fire engulfed the 800 year old historic cathedral of Notre Dame in Paris, the Prime minister of Paris had announced an international competition to redesign the cathedral. The Website of Go Architect held this competition in an online format to enable people vote for their best designs for consideration of the French Government. Ardberry Technology feels immense pleasure to announce that we were the top contenders in the world representing India. We have been given the honourable mentions in GoArchitect’s website. 
                          </p>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> We designed a kinetic façade that gives a sense of moving/ fluttering wings. It is a intelligent structure which gives the face of fluttering wings, and feather in the breeze which breathe throughout the day according to the time, temperature, Sun location and wind direction due to its kinetic and automated structure. The cathedral was a dedication to  Mother Mary hence it was more appropriate to come up with a design that boldly spoke the word ‘mother’. The design not only outstands the surrounding scenery but also looks out for whatever is on the inside, just as a mother does for her offspring.
                            </p>  
                        </div>
                        <div class="w3-half w3-container">
                          <img src="images/NotreDame2.jpg" alt="img06" style="width: 100%;">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class=" w3-container">
                            <img src="images/300619_04.png" alt="img06" style="width: 100%;">
                        </div>
                        <div class=" w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">This was an effort to conserve the ancient feeling brought forward by the Notre Dame Cathedral and at the same time give it a modern touch. The Notre Dame Cathedral had a unique work of art that mandates its preservation and since it is the twenty first century it goes without saying that modernisation has to be included too.  The old design of the roof had  the illusion of enclosing feathers of a mother bird which acted as our basic inspiration. The feeling of protection, security and motherly love was our key inspiration. France is one of the major tourists sites in Europe and he Notre Dame Cathedral has been a popular visiting site for the tourist, having that in mind the proposed design is not a backslide on this factor. 
                            </p> 
                        </div>
                    </div>
                </div>
        
            </div>
            </div>
            <div class="col-md-6">
              <div class="block-img-full service-item">
                <a class="img-block" href="#"><img src="images/image1.jpg" class="img-responsive" alt="Image"></a>
                <div class="text-box">
                  <h4 class="text-cap"><mark>Kia</mark>Motors</h4>
                  <p>
                    This is a design suggested for Kia Motors, Beat 360. Beat 360 gives their customers a 360-degree experience of space inside and outside. 
                  </p>
                  <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                  <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
            
                </div>
                
              </div>
              <div class="modal1 modal_multi">

                <!-- Modal content -->
                <div class="modal-content11 ">
                    <span class="close_multi close">x</span>
                    <h1 style="color: #b1976b;">INDIAN PROJECTS</h1>
                    <h3 style="color: #000; padding-top:1%">KIA MOTORS - BEAT 360</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="images/image1.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">This is a design suggested for Kia Motors, Beat 360. Beat 360 gives their customers a 360-degree experience of space inside and outside. It is aimed at encouragement and promoting vision. Its inspiration attributes just adds to its beautiful anatomy which leaves the public stunned. The beat is not only the "Ulam of Gaa", but also their music, the storytelling that everyone can relate to. 360 defines the experience of space; it's space where philosophy is built. It is not just a narrow vision experience, but a three-dimensional and medieval perception.
                          </p>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Beat 360 instils a feeling of freedom  in an enclosed space. It inspires open thinking and transparency.  With the constancy of our design inside and outside we aimed at promoting philosophical openness and  psychological freeness. The beat is supposed to establish an unusual vibe of self-consciousness and create that calmness under which one can freshly contemplate on perceptual clarity.  Kia motors  is a very successful automobile company and keeping that in mind we proposed a design that clearly reflects all their years of success.
                            </p>  
                        </div>
                        <div class="w3-half w3-container">
                          <img src="images/image2.jpg" alt="img06" style="width: 100%;">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class=" w3-container">
                            <img src="images/image3.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class=" w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">The flow of air and dynamics is the beats, so the Interior model is designed in the same context as exterior façade giving a 360-degree full definition of perspective and experience.  People can gaze at the view from both inside and outside and get the same feeling of relaxation. Customers can wow at the view as positivity just fills the room .  Beat 360  is an epitome of creativity linked with its philosophical echo.  It engulfs its subjects and submerses them into a thoughtful experience filled with realization. Peace has never been this physical before nor has it been more beautiful.  Its general outlook enlightens the blank and arouses the dull. The design is supposed to be more than an inspiration, it is targeted to be a sensation,  a promoter of openness.  
                            </p> 
                        </div>
                    </div>
                </div>
            </div>	
            </div>
            <div class="col-md-6">
                <div class="block-img-full service-item">
                  <a class="img-block" href="#"><img src="https://parametrichouse.com/wp-content/uploads/2020/01/01-19-2019000001.jpg" class="img-responsive" alt="Image"></a>
                  <div class="text-box">
                    <h4 class="text-cap"><mark>The </mark> Tide</h4>
                    <p>
                      Aliquam malesuada sapien sit amet augue interdum bibendum. Nulla tempor felis ipsum, at bibendum est pellentesque in. Nam ante neque, ornare vel sem nec, faucibus iaculis lacus. 
                    </p>
                    <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                    <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                  </div>
                  
                </div>
                <div class="modal1 modal_multi">
                  <div class="modal-content11 ">
                      <span class="close_multi close">x</span>
                      <h1 style="color: #b1976b;">Our Designs</h1>
                      <h3 style="color: #000; padding-top:1%">The Tide</h3>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <img src="https://parametrichouse.com/wp-content/uploads/2020/01/01-19-2019000001.jpg" alt="img06" style="width: 100%;">
                          </div>
                          <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> After a long frustrating day coming back to a view that over shadows all the gloominess and rings positivity in the mind is the best experience of peace. Walking into a room where the view that meets you is royal and assuring will never get old. The tide gives the individual internal peace induced by its wavy structure. The finishing outline has been given a fine champagne golden touch and a slight rough finish when it comes to uniformity to avoid monotony. The unique wave-like outlook given to is due to the changing size of pipes that do so in all directions.

                            </p>
                          </div>
                      </div>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> The human mind adapts very quickly to surroundings than any other organism’s but it gets fed up pretty quickly too but The Tide is a never aging respite. Depression, frustration and pessimism are as a result of dull outlines and boring interiors but this is a counteracting solution. With a constant flow of optimism and the beauty of a graceful princess The Tide is never a dismaying prospect. It is the best excuse for a physical and psychological break. Bliss, enchantment, serenity, purity and self-contentment all under one roof to give you the ultimate affair with the life there is in existence.

                              </p>  
                          </div>
                          <div class="w3-half w3-container">
                            <img src="https://i.pinimg.com/originals/74/74/1c/74741c43adcb4089dced3619d535e72d.jpg" alt="img06" style="width: 100%">
                          </div>
                      </div>
              </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="block-img-full service-item">
                  <a class="img-block" href="#"><img src="https://i.pinimg.com/originals/d7/de/79/d7de7943f6816b7c700054b198103658.jpg" class="img-responsive" alt="Image"></a>
                  <div class="text-box">
                    <h4 class="text-cap"><mark>Intelligent</mark> Windows</h4>
                    <p>
                      Nature’s course is one that is defined and cannot be changed. We can change our lifestyle to fit in with nature and have a beautiful 
                    </p>
                    <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                    <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                  </div>
                  
                </div>
                <div class="modal1 modal_multi">

                  <!-- Modal content -->
                  <div class="modal-content11 ">
                      <span class="close_multi close">x</span>
                      <h1 style="color: #b1976b;">Our Experiments</h1>
                      <h3 style="color: #000; padding-top:1%">Intelligent Windows</h3>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <img src="https://i.pinimg.com/originals/d7/de/79/d7de7943f6816b7c700054b198103658.jpg" alt="img06" style="width: 100%;">
                          </div>
                          <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">Nature’s course is one that is defined and cannot be changed. We can change our lifestyle to fit in with nature and have a beautiful harmony. This is what Ardberry’s intelligent windows accomplish, to give you a comfortable living with desired peace</p>
                          </div>
                      </div>
                      <div class="w3-row">
                          <div class="w3-container w3-half">
                              <img src="https://i.pinimg.com/originals/f3/85/14/f3851416a351514584b5f32e6b701c8e.jpg" alt="img06" style="width: 100%;">  
                          </div>
                          <div class=" w3-container w3-half">
                              <img src="https://www.arch2o.com/wp-content/uploads/2018/12/Wood-Cladding-and-Kinetic-Facades.jpg" alt="img06" style="width: 100%;">
                          </div>
                      </div>
                      <div class="w3-row">
                          <div class=" w3-container">
                              <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">With controls at your hands you can have your environment conquer the harshness of nature. Our smart louvers can adjust their positions according to sun position, temperature, precipitation and other environmental factors. It’s all comfort a few buttons away. 
                                  Smooth, ambient and stylish for a glamorous façade. It is what could be termed as ‘beauty with brains’. Treat yourself to a design that has an answer to nature’s elements and communicates with Mother Nature. Experience the splendour of adaptability and synchrony. 
                              </p> 
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="block-img-full service-item">
                <a class="img-block" href="#"><img src="https://i.pinimg.com/originals/88/76/3e/88763e84d2a6e28021a4f2dac7cc7537.jpg" class="img-responsive" alt="Image"></a>
                <div class="text-box">
                  <h4 class="text-cap"><mark>Fiber</mark> Optics</h4>
                  <p>
                    Lights are what bring beauty to our rather simple life. They display the positivity there is in living and make us realize our purpose. Blend that in with a combination of colours and it’s bliss to the vision.
                  </p>
                  <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                  <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                </div>
                
              </div>
              <div class="modal1 modal_multi">
                <div class="modal-content11 ">
                    <span class="close_multi close">x</span>
                    <h1 style="color: #b1976b;">Fiber Optics</h1>
                    <h3 style="color: #000; padding-top:1%">Chamak</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="http://www.gabitie.com/shopimages/products/v1mains/CHAND_HY282_SUPER.jpg" alt="img06" style="width: auto;">
                        </div>
                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Chamak is an exclusive collection of Ardberry that houses all its lighting array.
                            Our homes are the centre of our universe. They are what control our lives and determine how we conduct ourselves. It is therefore most appropriate to light up our homes in the right way to give our universe the right glow. From a range of different colours there are varieties of shapes and sizes, there are lightings for different occasions and every room has its own requirement depending on the desired look.   
                            This is why Ardberry brings to you the best option to light up your homes and workplaces with fibre optics. Enjoy the broader  sweep with what is there to be offered.                                 

                          </p>
                        </div>
                    </div>
                    <h3 style="color: #000; padding-top:1%">Lights</h3>
                    <div class="w3-row">
                        <div class="w3-quarter w3-container">
                            <img src="https://5.imimg.com/data5/GP/DP/MY-7437191/trendy-fiber-optic-chandelier-500x500.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class="w3-quarter w3-container">
                            <img src="https://www.larsalighting.com/wp-content/uploads/2014/10/fibre-optic-lights-495x400.jpg" alt="img06" style="width: 100%;">
                        </div>

                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Lights are what bring beauty to our rather simple life. They display the positivity there is in living and make us realize our purpose. Blend that in with a combination of colours and it’s bliss to the vision. They make us feel different and portray diverse emotions within us. They are the perfect companion to come back to whenever you need a change of mood. This is exactly what we try to accomplish using fibre optic lighting. We bring you a state-of-the-art glitter and shine customized according to your needs.
                           <br><br> Light has always been the focal factor of attraction. It all just takes a glance to please the heart, mind and soul. Allow your vision to sink into the details of this  amassment of glitter and visual wonder.  Expand your world int a brighter and more colourful universe and fill it with all the peace and happiness 


                          </p>
                        </div>
                    </div>
                    <h3 style="color: #000; padding-top:1%">Nakshatra</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="https://pm1.narvii.com/7025/243788d1785baaff1b8033be44dc20d51db325a0r1-800-800v2_hq.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">Sometimes we get that question in our mind that sets us to think how life in space would look like. It is time you stopped thinking and brought that feeling home. Nothing but sheer galactic luxury in your rooms and hallways. 
                          </p>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Live the fantasy of movies and build the Disney dreamland with the click of your fingers. Have yourself served with the best looking illuminations and get started with a better life. 

                            </p>  
                        </div>
                        
                        <div class="w3-half w3-container">
                          <img src="https://i.pinimg.com/originals/88/76/3e/88763e84d2a6e28021a4f2dac7cc7537.jpg" alt="img06" style="width: 100%">
                        </div>
                    </div>
                    <h3 style="color: #000; padding-top:4%">Celing Lights</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="https://ae01.alicdn.com/kf/HTB1DtC5LXXXXXa3apXXq6xXFXXXz/75-W-DMX-RGB-28key-remoto-LED-fibra-ptica-estrella-techo-kit-luces-1200-unids-4.jpg" alt="img06" style="width: 100%">
                        </div>
                        <div class="w3-half w3-container">
                          <img src="https://data.whicdn.com/images/118191702/original.jpg" alt="img06" style="width: 100%">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class=" w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">In the ultimate summary of a  hectic day there’s nothing more relaxing than a soothing view that meets the eye. Such are the ceiling lights of Ardberry. We work towards giving you a relaxing experience through our work of fibre optic lights. We never compromise the quality of our products for we understand your needs rather than just acknowledging them. Using creative thinking and innovation we bring to you one of the best ceiling lights for you to light up your place with. 
                          </p>
                        </div>
                    </div>

                    
            </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="block-img-full service-item">
                <a class="img-block" href="#"><img src="https://i.pinimg.com/564x/d2/5f/45/d25f452781ffb41fdaa6edcef1fedcb6.jpg" class="img-responsive" alt="Image"></a>
                <div class="text-box">
                  <h4 class="text-cap"><mark>Elder Friendly</mark> Washrooms</h4>
                  <p>
                    All the world’s a stage, said William Shakespeare. At one point of life we play a certain role and another role at another. These ever-changing traits of the body need a variety 
                  </p>
                  <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                  <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                </div>
                
              </div>
              <div class="modal1 modal_multi">

                <!-- Modal content -->
                <div class="modal-content11 ">
                    <span class="close_multi close">x</span>
                    <h1 style="color: #b1976b;">Washrooms</h1>
                    <h3 style="color: #000; padding-top:1%">Elder Friendly Washrooms</h3>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="https://i.pinimg.com/564x/d2/5f/45/d25f452781ffb41fdaa6edcef1fedcb6.jpg" alt="img06" style="width: 100%;">
                        </div>
                        <div class="w3-half w3-container">
                          <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">All the world’s a stage, said William Shakespeare. At one point of life we play a certain role and another role at another. These ever-changing traits of the body need a variety of  requirements. To cater for this Ardberry brings to you ‘Elder friendly washrooms’. Described as a second childishness, we understand the delicate consideration that this demands and we serve you with a rapturous  and a fine washroom space. 

                          </p>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-container">
                            <img src="http://www.1stability.co.uk/images/showers1.jpg" alt="img06" style="width: 100%;">  
                        </div>
                        <div class="w3-half w3-container">
                          <img src="https://besthomecaretips.com/wp-content/uploads/2018/01/bathroom-tips.jpg" alt="img06" style="width: 100%;">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class=" w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">After your retirement you probably need to sit back, relax and enjoy. You can now live that wish for a converted reality without you having to strain much. No more worries for your post-retirement life, be rest assured for full pleasure of all the comfort you want.  Sleep cosy, rest snug, enjoy harmony and live contented
                            </p> 
                        </div>
                    </div>
                </div>
            </div>	
            </div>
            <div class="col-md-6">
                <div class="block-img-full service-item">
                  <a class="img-block" href="#"><img src="https://5.imimg.com/data5/IJ/LX/QG/SELLER-5549784/untitled-500x500.png" class="img-responsive" alt="Image"></a>
                  <div class="text-box">
                    <h4 class="text-cap"><mark>Smart louvers</mark> and aerofoils</h4>
                    <p>
                      Just a tiny touch for an ambient environment is the key to an open mind. A little less of light, a little more of fresh air, tonnes of great thoughts.
                    </p>
                    <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                    <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                  </div>
                  
                </div>
                <div class="modal1 modal_multi">

                  <!-- Modal content -->
                  <div class="modal-content11 ">
                      <span class="close_multi close">x</span>
                      <h1 style="color: #b1976b;">Smart Windows</h1>
                      <h3 style="color: #000; padding-top:1%">Smart louvers and aerofoils</h3>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <img src="https://5.imimg.com/data5/IJ/LX/QG/SELLER-5549784/untitled-500x500.png" alt="img06" style="width: 100%;">
                          </div>
                          <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">Just a tiny touch for an ambient environment is the key to an open mind. A little less of light, a little more of fresh air, tonnes of great thoughts. <br> Have your simple life be filled with more comfort. This is simplicity redefined for the needs of your pleasure. Simple but fancy that saves you the complexity of adapting. 
                              Experience the feeling of nature and take in the scent of freshness to enjoy the ultimate lively side of life. Fill  your senses with the caressing touch of creation’s finest.  
                              

                            </p>
                          </div>
                      </div>
                      <div class="w3-row">
                          <div class="w3-container">
                              <img src="gif/sq6.gif" alt="img06" style="width: 100%;height:60%">  
                          </div>
                          <div class=" w3-container">
                              <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%">With controls at your hands you can have your environment conquer the harshness of nature. Our smart louvers can adjust their positions according to sun position, temperature, precipitation and other environmental factors. It’s all comfort a few buttons away. 
                                  We bring you the best from well selected materials. We use the best quality aluminium extrusion imported from Germany to give you a world class service. 
                                  
                              </p> 
                          </div>
                      </div>
                  </div>
              </div>	
            </div>
            <div class="col-md-6">
                <div class="block-img-full service-item">
                  <a class="img-block" href="#"><img src="https://i.ibb.co/bvrLpbD/abc.png" class="img-responsive" alt="Image"></a>
                  <div class="text-box">
                    <h4 class="text-cap"><mark>Mechatronic and Prototyping</mark> for custom designs</h4>
                    <p>
                      Every house needs a roof for without that it is not a house. Ardberry provides you with the roof you need to make your house complete. We help you make your 
                    </p>
                    <button class="myBtn_multi"><a  class="ot-btn btn-main-color text-cap">View Service</a></button>
                    <button class=""><a href="/formQuotation"  class="ot-btn btn-main-color text-cap">Get Quotation</a></button>
                  </div>
                  
                </div>
                <div class="modal1 modal_multi">
                  <div class="modal-content11 ">
                      <span class="close_multi close">x</span>
                      <h1 style="color: #b1976b;">Custom Designs</h1>
                      <h3 style="color: #000; padding-top:1%">Mechatronic and Prototyping for custom designs</h3>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <img src="https://i.ibb.co/KLMQNtz/abcd.png" alt="img06" style="width: 100%;">
                          </div>
                          <div class="w3-half w3-container">
                            <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Every house needs a roof for without that it is not a house. Ardberry provides you with the roof you need to make your house complete. We help you make your designs real and give them a modern finish. Come make your designs adaptive, kinetic and innovative. 


                            </p>
                          </div>
                      </div>
                      <div class="w3-row">
                          <div class="w3-half w3-container">
                              <p style="text-align: justify;font-size:1.1rem;color: black; max-width:none;padding: 5%"> Using 3D printing and state-of-the-art technology we give you the perfect prototype for your design. Have a preview of your work through software simulation.  You can see your design, feel your design and live your design with Ardberry Technology Private Ltd.  

                              </p>  
                          </div>
                          <div class="w3-half w3-container">
                            <img src="https://i.ibb.co/GW03cNC/abcde.jpg" alt="img06" style="width: auto">
                          </div>
                      </div>
              </div>
              </div>	
            </div>
          </div>
      </div>
    </section>
    
            
           
          <script>
            // Get the modal
    
            var modalparent = document.getElementsByClassName("modal_multi");
    
            // Get the button that opens the modal
    
            var modal_btn_multi = document.getElementsByClassName("myBtn_multi");
    
            // Get the <span> element that closes the modal
            var span_close_multi = document.getElementsByClassName("close_multi");
    
            // When the user clicks the button, open the modal
            function setDataIndex() {
    
                for (i = 0; i < modal_btn_multi.length; i++)
                {
                    modal_btn_multi[i].setAttribute('data-index', i);
                    modalparent[i].setAttribute('data-index', i);
                    span_close_multi[i].setAttribute('data-index', i);
                }
            }
    
    
    
            for (i = 0; i < modal_btn_multi.length; i++)
            {
                modal_btn_multi[i].onclick = function() {
                    var ElementIndex = this.getAttribute('data-index');
                    modalparent[ElementIndex].style.display = "block";
                };
    
                // When the user clicks on <span> (x), close the modal
                span_close_multi[i].onclick = function() {
                    var ElementIndex = this.getAttribute('data-index');
                    modalparent[ElementIndex].style.display = "none";
                };
    
            }
    
            window.onload = function() {
    
                setDataIndex();
            };
    
            window.onclick = function(event) {
                if (event.target === modalparent[event.target.getAttribute('data-index')]) {
                    modalparent[event.target.getAttribute('data-index')].style.display = "none";
                }
    
                // OLD CODE
                if (event.target === modal1) {
                    modal1.style.display = "none";
                }
            };
    
    //XXXXXXXXXXXXXXXXXXXXXXX    Modified old code    XXXXXXXXXXXXXXXXXXXXXXXXXX
    
    // Get the modal
    
            var modal1 = document.getElementById('myModal');
    
    // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
            var span = modal1.getElementsByClassName("close")[0]; // Modified by dsones uk
    
    // When the user clicks on the button, open the modal
    
            btn.onclick = function() {
    
                modal1.style.display = "block";
            }
    
    // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal1.style.display = "none";
            }
    
    
    
        </script>
        <style>
            /* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content11 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
        </style>
    <script src="js/navbar.js"></script>
</body>

</html>
