<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Anjan Kumar</title>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/53b9bdb146.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<meta name="keywords" content="Anjan,Anjan Kumar,Anjan Bhardwaj,Anjan Kumar Bhardwaj,Anjan Bhardwaj,Anjan Sahu,Anjan Kumar Sahu,Anjan Sahu,Ardberry Owner,Ardberry Technology, Ardberry Technology Owner,Kinetic Architecture">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Anjan Kumar Sahu , Founder Director of Ardberry Technology Private Limited is an Automation Engineer who is intrigued with designs where the structures are kinetic and interactive, therefore resolving the communication gap between man & structures. He believes just like an artwork
			is an expression of an Artist's
			psyche, a spectacular facade
			tells stories about vision of the
			designer. More we penetrate
			new arenas of innovation,
			higher the chances of creating
			something exquisite!">
		<link rel="stylesheet" href="css/portfolio.css">
	</head>
	<body style="font-family: Lato, sans-serif;">
	<section id = "Top">
		<div class="section-1">
			<div class="profile-photo" style="margin-left: 0;
				text-align: center;
				width: 100%;">
				<img src="images/profile.png" alt="Anjan Kumar Bhardwaj">
			</div>
		</div>
		<div class="section-2">
			<div class="name">
				<h2 class="cssanimation sequence fadeInBottom prename">anjan</h2>
				<h2 class="cssanimation sequence fadeInBottom postname">Kumar</h2>
				<h5 class="cssanimation sequence fadeInBottom position">Director at Ardberry Technology Private Limited Founding Partner at Axes in Excess</h5>
			</div>
			<div class=" cssanimation sequence fadeInBottom social-media-handles">
				<i class="fab fa-linkedin"></i>
				<i class="fab fa-facebook-square"></i>
				<i class="fab fa-twitter-square"></i>
				<i class="fab fa-instagram-square"></i>
			</div>
			<hr style="width: 70%; border-color: #979899; margin-top: 80px; margin-left: 15%">
			<div class=" cssanimation sequence fadeInBottom contact-details" style="text-align: center;">
				<div class="w3-quarter">
					<div class="icon"  >
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<div class="contact-content">
						<p>Jaipur, Rajasthan</p>
					</div>
				</div>
				<div class="w3-quarter">
					<div class="icon"  style="text-align: center;">
						<i class="fas fa-phone-alt"></i>
					</div>
					<div class="contact-content">
						<p>+91 782-386-1667</p>
					</div>
				</div>
				<div class="w3-quarter">
					<div class="icon"  style="text-align: center;">
						<i class="fas fa-at"></i>
					</div>
					<div class="contact-content">
						<p>kcardberry@gmail.com</p>
					</div>
				</div>
				<div class="w3-quarter">
					<div class="icon"  style="text-align: center;">
						<i class="fas fa-rss"></i>
					</div>
					<div class="contact-content" >
						<a href="https://ardbery.com" style="text-decoration: none;">
							<p >www.ardberry.com</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="introduction" >
		<div class="intro-section-1 col">
			<h2>Intro</h2>
			<h4>What I am all about</h4>
		</div>
		<div class="intro-section-2 col">
			Anjan Kumar Sahu , Founder Director of Ardberry Technology Private Limited is an Automation Engineer who is intrigued with designs where the structures are kinetic and interactive, therefore resolving the communication gap between man & structures. He believes just like an artwork
			is an expression of an Artist's
			psyche, a spectacular facade
			tells stories about vision of the
			designer. More we penetrate
			new arenas of innovation,
			higher the chances of creating
			something exquisite!
		</div>
	</section>
	<section class="achievements" style="width: 100%; display: table">
		<div class="intro-section-1 col" style="background-color:#fdfff5">
			<h2>Skills and Research</h2>
			<h4>Things I had worked upon</h4>
		</div>
		<div class="intro-section-2 col" style="background-color:#fdfff5">
			<div id="content">
				<ul class="timeline">
					<li class="event event1" >
						<h3>Notre-Dame de Paris</h3>
						<p>Got international honorable mention in Redesigning
							competition of Notre-Dame de Paris
						</p>
					</li>
					<li class="event">
						<h3>Dept. of Science and
							Technology
						</h3>
						<p>Invited and presented talk at Dept. of Science and
							technology Govt. of Rajasthan
						</p>
					</li>
					<li class="event event1" >
						<h3>Rajasthan Science
							Congress
						</h3>
						<p>Presented paper on Brain waves at Rajasthan Science
							Congress
						</p>
					</li>
					<li class="event ">
						<h3>Cyber phoenix conclave</h3>
						<p>Presented Paper at Cyber phoenix conclave on IoT
							security
						</p>
					</li>
					<li class="event event1">
						<h3>Best Innovator</h3>
						<p>Awarded best innovator by Chancellor Amity University</p>
					</li>
					<li class="event">
						<h3>Appericiated by Chief Minister</h3>
						<p>Appreciated by CM of Rajasthan for achievements.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="Work-Exp" style="width: 100%; display: table">
		<div class="intro-section-1 col" style="background-color:#fdfff5">
			<h2>Work Experience</h2>
			<h4>Yes ,I have been around</h4>
		</div>
		<div class="intro-section-2 col" style=" background-color:#fdfff5">
			<div id="content">
				<ul class="timeline">
<li class="event event1" >
            <h3>Ardberry Technology</h3>

						<p>Ardberry Technology(P) Ltd.
							Chief Technical Officer
						</p>
					</li>
          <li class="event" >
						<h3>Axes in Excess</h3>
						<p>Founding Partner at Axes in Excess
						</p>
					</li>
					<li class="event event1">
						<h3>Vibrant Technik. R&D Executive</h3>
						<p>Developed Automation solution for Movable Grilles</p>
					</li>
					<li class="event" >
						<h3>Citizen Scientist, CDRI</h3>
						<p>worked on research research on the availability and
							requirements of healthcare facilities and
							rehabilitation
						</p>
					</li>
					<li class="event event1">
						<h3>Project Intern</h3>
						<p>Bulktainer shipping limited</p>
					</li>
					<li class="event">
						<h3>Traniee Intern at CTTC Bhubaneswar</h3>
						<p>Trainee Intrern in Project of Chandrayan 2
						</p>
					</li>
					<li class="event event1">
						<h3>Web Developer</h3>
						<p>Developed and Maintained Website of Army
							Children's Academy
						</p>
					</li>
				</ul>
			</div>
		</div>
  </section>
  <div class="social-end">
    <div class=" cssanimation sequence fadeInBottom social-media-handles social-end">
      <i class="fab fa-linkedin w3-quarter"></i>
      <i class="fab fa-facebook-square w3-quarter"></i>
      <a href="https://twitter.com/ArdberryT"><i class="fab fa-twitter-square w3-quarter"></i></>
      <i class="fab fa-instagram-square w3-quarter"></i>
    </div>
  </div>
  
	</body>
</html>
