<%- include("partials/head.ejs") -%> 
<%- include("partials/navbar.ejs") -%>
<style>
    @keyframes circle-reveal {
        0% {
            clip-path: circle(0%);
       }
        100% {
            clip-path: circle(75%);
       }
   }
    .team {
        --max-width: 80rem;
        --gray: #e1e0e0;
        --gray-dark: #b1afaf;
        max-width: var(--max-width);
        margin: 0 auto;
        padding-top: 110px;
        animation: circle-reveal 2s;
   }
    .team > h3 {
        margin: 0;
        font-size: 2rem;
        font-family: var(--font-alt);
        color: var(--gray-dark);
        padding: 0.5em;
        background: var(--white);
        display: inline-block;
        box-shadow: 0 0 0 2px var(--gray);
   }
    @media (min-width: calc(70rem + 10rem)) {
        .team > h3 {
            transform: translate(calc(-4ch - 1rem));
       }
   }
    .team-list {
        --gap: 0.6rem;
        display: grid;
        grid-gap: calc(var(--gap) * 2);
        margin: 3rem 0;
   }
    @media (min-width: 70rem) {
        .team-list {
            grid-template-columns: repeat(4, 1fr);
       }
   }
    .team-list > article {
        --image-height: 10rem;
        display: grid;
        grid-template-rows: var(--image-height) auto;
        grid-template-areas: "image" "content";
        grid-column-gap: var(--gap);
        box-shadow: 0 0 5px 0 var(--gray), 0 2px 5px 0 var(--black);
   }
    @media (min-width: 35rem) {
        .team-list > article {
            --image-height: 10rem;
            --space: 0;
            grid-template-columns: 1fr 2.5fr;
            grid-template-areas: ". image" "content image";
            box-shadow: none;
       }
        .team-list > article:hover {
            --space: calc(var(--gap) / 4);
       }
        .team-list > article:after {
            z-index: 0;
            content: "";
            transform: translate(var(--space), var(--space));
            transition: all 0.3s ease-in;
            background: var(--gray-dark);
       }
   }
    .team-list > article:before, .team-list > article:after {
        grid-area: image;
   }
    .team-list > article:before {
        z-index: 1;
        content: "";
        background: var(--avatar, var(--black)) no-repeat center center/cover;
   }
    .team-list > article > div {
        background: var(--white);
        padding: 0rem;
        grid-area: content;
   }
    .team-list > article h5 {
        margin: 0;
        font-size: 1.3rem;
   }
    .team-list > article p {
        color: var(--gray-dark);
   }
    .team-list > article a {
        color: inherit;
        text-decoration: none;
   }
   /* Defaults */
    :root {
        --black: #000000;
        --white: #fffafa54;
        --font: 'PT Sans', sans-serif;
        --font-alt: 'Lato', sans-serif;
   }
    *, *:before, *:after {
        box-sizing: border-box;
   }
    html, body {
        margin: 0;
        height: 100%;
   }
    body {
        background: var(--white);
        color: var(--black);
        font-family: var(--font);
   }
    
</style>
<section class="team" >
    <h3>Meet the team</h3>
    <h1 style="padding-top: 3rem;">Our Super Stars</h1>
    <div class="team-list">
      <article style="--avatar: url(https://i.ibb.co/nRKtjbF/Whats-App-Image-2020-05-18-at-20-23-38.jpg);">
        <div>
          <h5>Aman Dugar</h5>
          <p>Device Relation Manager</p>
          
        </div>
      </article>
  
      <article style="--avatar: url('https://i.ibb.co/7JFHWqn/Whats-App-Image-2020-05-18-at-20-05-54.jpg')">
        <div>
          <h5>Prarthana Roy</h5>
          <p>Device Safety Manager</p>
          
        </div>
      </article>
  
      <article style="--avatar: url(https://img.techpowerup.org/200519/img-20200511-wa0009.jpg);">
        <div>
          <h5>Shubham Jain</h5>
          <p>Tech Simulator Expert</p>
          
        </div>
      </article>
      <article style="--avatar: url(https://img.techpowerup.org/200519/chirag.jpg);">
        <div>
          <h5>Chirag Maurya</h5>
          <p>Creative Marketer</p>
          
        </div>
      </article>
    </div>
</section>
<section class="team" >
    <h1 style="padding-top: 3rem;">Producers and Directors</h1>
    <div class="team-list">
        <article style="--avatar: url(https://img.techpowerup.org/200519/20180610-170148.jpg);">
            <div>
              <h5>Kajal Mishra</h5>
              <p>Device Evangelist</p>
              
            </div>
          </article>
      
          <article style="--avatar: url(https://img.techpowerup.org/200519/img-20190828-09185161-01.jpg)">
            <div>
              <h5>Rohan Kumar</h5>
              <p>IOT and Intelligence</p>
              
            </div>
          </article>
    </div>
</section>
<section class="team" >
    <h1 style="padding-top: 3rem;">Biggest Fan</h1>
    <div class="team-list">
        <article style="--avatar: url(https://img.techpowerup.org/200519/whatsapp-image-2020-04-18-at-1-55-05-am.jpg); grid-template-rows: 5rem auto;">
            <div>
              <h5>Anjan Kumar Bhardwaj</h5>
              <p>Principle Evangelist</p>
              
            </div>
          </article>
    </div>
</section>
<script type="text/javascript" language="javascript">
  $('img').bind('contextmenu', function(e) {
      return false;
  });
</script>
  