<%- include('partials/header') %>
<form action="/<%=username  %> /create" class="container" method="POST">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" name="title" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="Title">Sub Title</label>
        <input type="text" class="form-control" name="subTitle" autocomplete="off" required>
    </div>
    <div class="container">
        <textarea name="content"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content')
</script>
<%- include('partials/footer') %>