        <section class="Contact-Us" id="Contact-Us">
            <div class="map w3-half">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14236.488670052457!2d75.8185306!3d26.8678594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7a00976c59f3d94e!2sArdberry%20Technology%20Private%20Limited%20Jaipur!5e0!3m2!1sen!2sin!4v1578829154688!5m2!1sen!2sin" width="100%" height="740px;"  allowfullscreen=""></iframe>
            </div>
            <div class="contact-us-company w3-half">
                <div class="one-liner w3-half">
                  <div class="call" style="margin-left: 20px;">


                    <h2 class="one-liner-head"    style="padding: 20px; color:#b1976b">
                      Partner with us for the imagery of your new project. Let us know how we can help.
                    </h2><p style="padding-bottom: 0px;padding-top: 0px; font-size: 1rem; margin-top: 5px;">Contact: (+91) 782 386 1667</p>
                    <h2 class="one-liner-head"    style="padding: 15px; ">
                      Dont Forget to Suscribe us
                    </h2>
                    
                    <div n class="Form">
                      <form class="my-form" name="form" id ="myForm" method="post"  action="/sucess" style=" padding-left:20px;">
                        <input type="text" name="Name" id="Name" value="" placeholder="Your Name: " style="border: none; background-color: #373737; color: white; width: 70%; height: 50px;" required>
                        <br>
                        <br>
                        <input type="email" id="Email" name="Email" placeholder="Your Email: " style="border: none; background-color: #373737; color: white;  width: 70%; height: 50px;" required>
                        <br>
                        <br>
                        <button action ="/sucess" type="submit" id="send" onclick="alert('Form is trying to be get submitted pls press ok');" name="button" style="align-items: center ;background-color: #b1976b; border: none; width: 80px;">Send</button>
                      </form>
                      
                      <h2 class="one-liner-head" style="font-weight:700; padding-left: 20px;">
                        Ardberry
                      </h2>
                      <p>Incorporating Motion and Intelligence into Architecture</p>

                    </div>

                  </div>
                </div>
                <div class="main-contact w3-half">
                  <h2 class="one-liner-head" style="font-weight:700; color: #b1967b;">
                    Address
                  </h2>
                  <br>
                  <div class="Address">
                      <h3 style="font-size: 1.5rem;
                      margin: 0px; color: #b1967b;
">Head Office</h3>
                      <p style="font-size: .937rem;">

                       C/O KC Sahu <br> Near Iscon Temple,<br> Ankushpur,<br> Brahmapur,<br> Odisha 761100
                   </p>
                  </div>
                  <div class="Address">
                      <h3 style="font-size: 1.5rem;
                      margin: 0px;color: #b1967b;
">Regional Office</h3>
                      <p style="font-size: .937rem;">
                        2 Floor <br>
                        Bhamashah Technohub,<br>
                        Jhalana Doongri,<br>
                        Jaipur,<br>
                        Rajasthan 302002
                   </p>
                   <br>
                   <br>
                   <div class="social" style="font-size: 2rem; color: #b1976b">
                    <a href="https://www.facebook.com/ardberry/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/company/ardberrytechnology/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com/ArdberryT"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.instagram.com/ardberrytechnology/"><i class="fab fa-instagram-square"></i></a>
                   </div>
                  </div>
                </div>
            </div>
        </section>