
<section id="navbar"style="background-color: white">
            <div class="Navbar">
                <div class="Navbar__Link Navbar__Link-brand" >
                    <img src="/images/at.png" class="logo"
                    style="margin-left: 0px;
        padding-left: 10px;">
                </div>
                <div class="Navbar__Link Navbar__Link-toggle">	<i class="fas fa-bars">
                </i>
                </div>
                <nav class="Navbar__Items Navbar__Items--right">
                    <div>
                        <a href="/home" class="Navbar__Link">Home</a>
                    </div>
                    <div>
                        <a href="/portfolio" class="Navbar__Link">About Us</a>
                    </div>

                    <div>
                        <a href="/catalog" class="Navbar__Link">Catalog</a>
                    </div>
                    <div>
                        <a href="/home#why-us" class="Navbar__Link">Services</a>
                    </div>
                    <div>
                        <a href="/team" class="Navbar__Link">Team</a>
                    </div>
                    <div>
                        <a href="/blog" class="Navbar__Link">Blog</a>
                    </div>
                    <div>
                        <a href="/news" class="Navbar__Link">News</a>
                    </div>
                    <div>
                        <a href="/home#Contact-Us" class="Navbar__Link">Contact</a>
                    </div>

                </nav>
            </div>
        </section>
